
table {
    margin: 50px 0 0 50px;
    border-collapse: collapse;
    font-size: 20px
}

td {
    padding: 10px 35px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td > input {
width: 70px
}

input {
width: 120px;
margin: 50px 0 0 50px;
}